@{
    Layout = "~/Views/Shared/_LayoutAccess.cshtml";
    //var passwordRegexPattern = @"^(?=.[a-z])(?=.[A-Z])(?=.\d)(?=.[@$!%?&])[A-Za-z\d@$!%?&]{8,}$";
}

<h4 class="mt-1 mb-5 pb-1 text-center">Valida tus datos</h4>

<form action="@Url.Action("ChangePassword", "Access")" method="post" id="changePasswordForm">
    @{
        if (ViewBag.Error != null)
        {
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert">
                        @ViewBag.Error
                    </div>
                </div>
            </div>
        }
    }
    <input class="form-control" id="" type="hidden" value="@TempData["userID"]" name="idUser" />
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="form-floating mb-3 mb-md-0">
                <input class="form-control" id="inputPassword" type="password" placeholder="Create a password" name="currentPsswd" value="@ViewData["userPsswd"]" required />
                <label for="inputPassword">Clave enviada al correo</label>
            </div>
        </div>
    </div>
    <!-- Input for New Password -->
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="form-floating mb-3 mb-md-0">
                <input class="form-control psswd" id="newPassword" type="password" placeholder="Nueva Clave" name="newPsswd" required />
                <label for="newPassword">Nueva Clave</label>
            </div>
        </div>
    </div>

    <!-- Input for Confirm Password -->
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="form-floating mb-3 mb-md-0">
                <input class="form-control" id="confirmPassword" type="password" placeholder="Confirmar Clave" name="confirmPsswd" required />
                <label for="confirmPassword">Confirmar Clave</label>
            </div>
        </div>
    </div>

    <div class="mt-4 mb-0">
        <div class="d-grid">
            <button class="btn btn-dark btn-blockn mb-2" type="submit">Guardar</button>
            <a class="btn btn-dark" href="@Url.Action("Index","Home")">Pagina principal</a>
        </div>
    </div>
</form>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#changePasswordForm").submit(function (event) {
                var newPassword = $("#newPassword").val();
                var confirmPassword = $("#confirmPassword").val();
                @*var passwordRegex = new RegExp("@Html.Raw(passwordRegexPattern)");*@

                // Validar la fortaleza de la nueva contraseña
                if (!passwordRegex.test(newPassword)) {
                    alert("La nueva contraseña debe tener al menos 8 caracteres, incluir mayúsculas, minúsculas, números y caracteres especiales.");
                    event.preventDefault(); // Previene el envío del formulario
                    return;
                }

                // Validar que la nueva contraseña y la confirmación coincidan
                if (newPassword !== confirmPassword) {
                    alert("La nueva contraseña y la confirmación de la contraseña no coinciden.");
                    event.preventDefault(); // Previene el envío del formulario
                    return;
                }
            });
        });
    </script>
}