
@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="showcase-areaTienda" id="showcase">
    <div class="overlay"></div>
    <div class="showcase-container">
        <h1 class="main-title" id="home">Casa Parker</h1>
        <p>Men&uacute; de Comidas</p>
    </div>
</section>


<section id="about">
    <div class="about-wrapper container">
        <div class="about-text">
            <p class="small">Comidas y Bebidas</p>
            <h2>Casa Parker</h2>
            <p>
                En Seccion podras observar los diferentes tipos de comidas
                y bebidas que tenemos a tu disponibilidad, y que podras disfrutar
                dentro de nuestro local.<br> Una gran variedad desde
                <strong>
                    Pizza,
                    Comidas organicas y Bebidas naturales
                </strong> muy refrescantes.
            </p>
            <a href="#food-menu" class="btn btn-outline-dark ">Ver Men&uacute;</a>
        </div>
        <div class="about-img">
            <img src="https://drive.google.com/uc?export=view&id=1OGcXZQZbURRMCvUNGbVazB5wXeBNEz4X" alt="" class="shadow rounded-lg" />
        </div>
    </div>
</section>

<section id="SectionRestaurants">
    <div class="containerRestaurants container">
        @*<div class="food-type fruite">
            <div class="img-container">
                <img src="~/Content/Imgs/Logo.jpg" alt="Logo" />
                <div class="img-content">
                    <h3>Parker's Pizza</h3>
                </div>
            </div>
        </div>*@
        @*<div class="food-type vegetable">
                <div class="img-container">
                    <img src="~/Content/Imgs/Logo.jpg" alt="Logo" />
                    <div class="img-content">
                        <h3>Dharma Natural</h3>
                    </div>
                </div>
            </div>
            <div class="food-type grin">
                <div class="img-container">
                    <img src="~/Content/Imgs/Logo.jpg" alt="Logo" />
                    <div class="img-content">
                        <h3>Natural Mistico</h3>
                    </div>
                </div>
            </div>*@
    </div>
</section>

<section id="food-menu">
    <h2 class="food-menu-heading">Men&uacute; de comidas</h2>
    <div class="container-fluid px-5 my-5">
        <div class="row">
            <div class="col-sm-3">
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="card shadow-lg mb-3 bg-body rounded">
                            <div class="card-header bg-dark text-white">
                                Restaurantes
                            </div>
                            <div id="containerCategories" class="card-body">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="card shadow-lg mb-3 bg-body rounded">
                            <div class="card-header bg-dark text-white">
                                Categoría
                            </div>
                            <div id="containerBrands" class="card-body">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="d-grid gap-2">
                            <button id="btnApplyFilter" class="btn btn-outline-dark bg-gradient btn-block shadow rounded-lg" type="button">
                                <i class="fas fa-filter"></i> Aplicar filtro
                            </button>
                            <a href="@Url.Action("Index", "Home")" class="btn btn-outline-dark bg-gradient btn-block shadow rounded-lg" type="button">
                                <i class="fas fa-undo-alt"></i> Página Principal
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-9">
                <div id="containerProducts" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100 ">
                            <!-- Product image-->
                            <img class="card-img-top" src="" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    <!-- Product price-->
                                    $40.00 - $80.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            @*Product image*@
                            <img class="card-img-top" src="" alt="..." />
                            @*Product details*@
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Special Item</h5>
                                    <!-- Product reviews-->
                                    <<div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $18.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            @*<div class="col-sm-9">
                    <div class="row gx-4 gx-lg-5 row-cols-3 row-cols-md-3 row-cols-xl-4 justify-content-center mx-lg-auto" id="containerMenu">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="foodMenuItem">
                            <div class="foodImg">
                                <img src="~/Content/Imgs/Logo.jpg" alt="" />
                            </div>
                            <div class="foodDetails">
                                <h2 class="food-titile">Titulo</h2>
                                <p class="foodDescription">
                                    Descripcion.
                                </p>
                                <p class="foodPrice">Precio: &#8353; 1000</p>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</section>



<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="modalTitle">Pizza Salami</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="productDescription">Pizza con tomate, queso y salami</p>
                <!-- Aquí puedes agregar más elementos para mostrar detalles del producto -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



@section scripts{

    <script>
        $(document).ready(function () {
            printRestaurants();
            printFoodBrands();
            printMenuItems(0,0);
        })
        $(document).on("change", "input[name=inputRestaurant]", function () {
            printCategories();
        })
        function printFoodBrands() {
            jQuery.ajax({
                url: "@Url.Action("ListRestaurants", "Restaurant")",
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#containerCategories").LoadingOverlay("hide");
                    $("<div>").addClass("form-check").append(
                        $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "inputRestaurant", "value": "0", "id": "cx", "checked": "checked" }),
                        $("<label>").addClass("form-check-label").text("Todos").attr({ "for": "cx" })
                    ).appendTo("#containerCategories")
                    $.each(response.data, function (i, element) {
                        $("<div>").addClass("form-check").append(
                            $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "inputRestaurant", "value": element.brandID, "id": "c" + i }),
                            $("<label>").addClass("form-check-label").text(element.brandName).attr({ "for": "c" + i })
                        ).appendTo("#containerCategories")
                    })
                    printCategories();
                },
                beforeSend: function () {
                    $("#containerCategories").LoadingOverlay("show");
                }
            })
        }

        function printCategories()
        {
            var idBrand = $("input[name=inputRestaurant]:checked").val()
            jQuery.ajax({
                url: "@Url.Action("ListCategoryXBrand", "Restaurant")",
                type: "POST",
                data: JSON.stringify({ idbrand: idBrand }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response)
                {
                    $("#containerBrands").html("");
                    $("#containerBrands").LoadingOverlay("hide");
                    $("<div>").addClass("form-check").append(
                        $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "inputBrand", "value": "0", "id": "mx", "checked": "checked" }),
                        $("<label>").addClass("form-check-label").text("Todos").attr({ "for": "mx" })
                    ).appendTo("#containerBrands")
                    $.each(response.data, function (i, element)
                    {
                        $("<div>").addClass("form-check").append(
                            $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "inputBrand", "value": element.categoryID, "id": "m" + i }),
                            $("<label>").addClass("form-check-label").text(element.categoryName).attr({ "for": "m" + i })
                        ).appendTo("#containerBrands")
                    })
                },
                beforeSend: function ()
                {
                    $("#containerBrands").LoadingOverlay("show");
                }
            })
        }
        function printRestaurants() {
            jQuery.ajax({
                url: "@Url.Action("ListRestaurants", "Restaurant")",
                type: "GET",
                //data: JSON.stringify({ idCategory: categoryID, idBrand: brandID }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response)
                {
                    $("#containerRestaurants").LoadingOverlay("hide");
                    $("#containerRestaurants").html("");
                    $.each(response.data, function (i, element)
                    {
                        $("<div>").addClass("food-type").append(
                            $("<div>").addClass("img-container").append(
                                $("<img>").addClass("").attr({ "src": "data:image/" + element.extension + ";base64," + element.base64 }),
                                $("<div>").addClass("img-content").append(
                                    $("<h3>").text(element.brandName)
                                )
                            )
                        ).appendTo("#containerRestaurants")
                    })
                },
                beforeSend: function ()
                {
                    $("#containerRestaurants").LoadingOverlay("show");
                }
            })
        }
        //
        function printMenuItems(categoryID,brandID)
        {


            jQuery.ajax({
                url: "@Url.Action("ListFoods", "Restaurant")",
                type: "POST",
                data: JSON.stringify({ idCategory: categoryID, idBrand: brandID }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response)
                {
                    $("#containerProducts").html("");
                    $("#containerProducts").LoadingOverlay("hide");
                    $.each(response.data, function (i, element)
                    {
                        $("<div>").addClass("col mb-5").append(
                            $("<div>").addClass("card h-100 shadow-lg rounded bg-body").append(
                                $("<img>").addClass("card-img-top").attr({ "src": "data:image/" + element.extension + ";base64," + element.base64 }),
                                $("<div>").addClass("card-body p-4").append(
                                    $("<div>").addClass("text-center").append(
                                        $("<h5>").addClass("fw-bolder").text(element.foodName),
                                        "₡" + element.foodPrice.toFixed(2)
                                    )
                                ),
                                $("<div>").addClass("card-footer p-2 pt-0 border-top-0 bg-transparent").append(
                                        $("<div>").addClass("d-grid gap-2").append(
                                            $("<a>").addClass("btn btn-dark mt-auto")
                                                .attr({ "href": "@Url.Action("FoodDetail", "Restaurant")" + "?idFood=" + element.foodID })
                                            .text("Ver Detalle")
                                        )
                                )
                            )
                        ).appendTo("#containerProducts")
                    })
                },
                beforeSend: function ()
                {
                    $("#containerProducts").LoadingOverlay("show");
                }
            })
        }

        $("#btnApplyFilter").click(function () {
            var categoryID = $("input[name=inputRestaurant]:checked").val()
            var brandID = $("input[name=inputBrand]:checked").val()
            printMenuItems(categoryID, brandID)
        })


        function print() {

            $("#modalTitle").val("");
            $('#detailModal').modal('show');

        }

    </script>
}
